:root{
  --color-primary: #F2F1EE;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--color-primary);
}
.navbar{
  width: 100%;
}
.navbar .logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .logo img{
  height: 100px;
  width: 120px;
}
.navbar nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  font-size: 20px;
  
}
.navbar nav ul li{
  display: inline-block;
  margin: 0 20px;
}
.navbar nav ul li a{
  text-decoration: none;
  color: black;
}
.Accueil{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Wrapper-Accueil .left , .Wrapper-Accueil .right{
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.WrapContentLeft , .WrapContentRight{
  width: 90%;
  height: auto;
  position: relative;

}
.firstContent{
  border: 2px solid red;
  width: 100%;
  height: 400px;
  margin: 30px 0;
}
.secondContent{
  border: 2px solid red;
  width: 100%;
  height: 300px;
  margin: 30px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  
}
.secondContent div:first-child {
  background-color: red; 
}
.secondContent div:last-child{
  background-color: black;
  
}
.thirdContent{
  border: 2px solid red;
  width: 100%;
  height: 300px;
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.thirdContent div:first-child{
  background-color: red;
}
.thirdContent div:nth-child(2){
  background-color: blue;

}

.thirdContent div:last-child{
  background-color: black;
}
.RecentContent{
  border: 2px solid red;
  width: 100%;
  height: 200px;
  margin: 30px 0;
}
.WrapTrends , .WrapBoutique{
  border: 2px solid red;
  width: 100%;
  height: 300px;
  margin: 30px 0;
  position: relative;
}
.WrapTrends .carrouselTrend ,
.WrapBoutique .carrouselBoutique {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}